// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

img.team-logo {
    max-width: 22px;
    max-height: 22px;
    margin-right: 5px;
}

td.team {
    white-space: nowrap;
}