<template>
    <tr>
        <td class="team">
            <img :src="teams[match.home_team_id].logo" alt="" class="team-logo">
            {{ teams[match.home_team_id].name }}
        </td>
        <td @click="editScore()">
            {{ match.is_played ? matchResults.home_goals + ":" + matchResults.away_goals : "–" }}
        </td>
        <td class="team">
            <img :src="teams[match.away_team_id].logo" alt="" class="team-logo">
            {{ teams[match.away_team_id].name }}
        </td>
    </tr>
</template>

<script>
    export default {
        props: {
            teams: Object,
            match: Object,
            isChangeable: Boolean
        },
        data() {
            return {
                matchResults: {
                    home_goals: this.match.home_goals,
                    away_goals: this.match.away_goals
                },
                matchUpdateRoute: "/matches/" + this.match.id
            };
        },
        methods: {
            editScore() {
                if (! this.match.is_played || ! this.isChangeable) {
                    return;
                }

                let goals = prompt('Please type new result of the match');
                
                if (goals == null) {
                    return;
                }

                goals = goals.split(':'); // TODO: add value check

                // Make a request to update the match results
                axios
                    .put(this.matchUpdateRoute, {
                        home_goals: goals[0],
                        away_goals: goals[1]
                    })
                    .then((result) => {
                        this.matchResults.home_goals = goals[0]
                        this.matchResults.away_goals = goals[1]

                        this.$emit('match:updated', result.data.match)
                    })
            }
        }
    }
</script>