<template>
    <div class="row">
        <div class="col-8 mb-3">
            <matchweek-scores
                :teams-scores="teamsScoresTable"
                :teams="teams"
            ></matchweek-scores>
        </div>

        <div class="col-4 mb-3">
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th scope="col" colspan="3">Week {{ matchweek.id }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="match in matches" :key="match.id" is="match"
                        :match="match"
                        :teams="teams"
                        is-changeable
                        @match:updated="updateTeamsScores"
                    ></tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            teamsScores: Array,
            teams: Object,
            matchweek: Object,
            matches: Array
        },
        data() {
            return {
                teamsScoresTable: this.teamsScores
            }
        },
        methods: {
            updateTeamsScores: function(match) {
                // Make a request to retrieve updated teams scores
                axios
                    .get('/matchweeks/' + match.matchweek.id + '/scores')
                    .then((result) => {
                        this.teamsScoresTable = result.data.scores
                    })
            }
        }
    }
</script>