<template>
    <table class="table">
        <thead class="table-light">
            <tr class="text-center">
                <th scope="col" class="text-start">Team name</th>
                <th scope="col">Played</th>
                <th scope="col">W</th>
                <th scope="col">D</th>
                <th scope="col">L</th>
                <th scope="col">GF</th>
                <th scope="col">GA</th>
                <th scope="col">GD</th>
                <th scope="col">Points</th>
                <th scope="col">Odds, %</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="teamScore in teamsScores" :key="teamScore.id" class="text-center">
                <td class="text-start">
                    <img :src="teams[teamScore.team_id].logo" alt="" class="team-logo">
                    {{ teams[teamScore.team_id].name }}
                </td>
                <td>{{ teamScore.matches_played }}</td>
                <td>{{ teamScore.won }}</td>
                <td>{{ teamScore.drawn }}</td>
                <td>{{ teamScore.lost }}</td>
                <td>{{ teamScore.gf }}</td>
                <td>{{ teamScore.ga }}</td>
                <td>{{ teamScore.gd }}</td>
                <td class="table-light">{{ teamScore.points }}</td>
                <td class="table-primary">{{ null != teamScore.prediction ? teamScore.prediction : 0 }}</td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        props: {
            teamsScores: Array,
            teams: Object
        }
    }
</script>